extends ../../layout

block content
  h1 チーム編集

  form.box(action=`/manager/teams/${team.id}`,method="post")
    _csrf
    _method put
    div
      label(for="title") チーム名
      input#title(name="name" value=team.name)
    div.actions
      input(type="submit")