extends ../../layout

block content
  h1 タスクの新規作成

  form.box(action=`/manager/teams/${team.id}/tasks`, method="post")
    _csrf
    div= team.id
    div
      label(for="title") タイトル
      input#title(name="title")
    div
      label(for="body") 内容
      textarea#body(name="body")
    div
      label(for="userId") 担当者
      select(name="userId")
        option(value=0) なし
        each member in members
          option(value=member.userInfo.id)= member.userInfo.displayName
    div.actions
      input(type="submit")